# Step 1: Data health check

In [1]:
import pandas as pd
cc_data = pd.read_csv('data.csv',names=['AccountId','MerchantId','TransactionAmount','Extra'])
cc_data

        AccountId   MerchantId TransactionAmount   Extra
0       111184657   6.8579E+13                 1     NaN
1       337612045   5.7186E+13             99.99     NaN
2       267635954   1001515665             30.01     NaN
3        23826603      8146524                 X   14.96
4       300553673      4650693                 X    8.99
5       359135601      7981962             39.99     NaN
6       346875322      4975861                 X   20.00
7       323678754     33898193             347.5     NaN
8       359135601     47337102                30     NaN
9       284170648   5.7186E+13             26.56     NaN
10      240965569     12155272               288     NaN
11      108841143     12155272               828     NaN
12      346879928    9.802E+11                 X    2.95
13       93745072     31183072                 X    7.25
14      110639786     61494462            269.98     NaN
15      273353739     31183072             12.47     NaN
16      335186751  3.45852E+14                 X    4.50
17      337077984      6898266               2.4     NaN
18      358797248     60772753                 X   94.00
19      109606726     31183072             12.59     NaN
20      341119467   5.7183E+13              0.99     NaN
21      259969737   1002217709             60.42     NaN
22      361567428  1.82128E+14              0.65     NaN
23      172589123     63577983                10     NaN
24      111249517   9.8002E+11              4.95     NaN
25      350232814  5.54197E+14              10.8     NaN
26      327440117     63577983                10     NaN
27      303471104     63577983                20     NaN
28      338427166     63577983                25     NaN
29      285642030  5.20335E+14              2.99     NaN
...           ...          ...               ...     ...
249970  328666629  5.54196E+14                 X   14.00
249971  110590718     78418472                24     NaN
249972  304679568  5.20335E+14                 X   13.50
249973  340399709      4319401              3.76     NaN
249974  340387536      1806871             85.16     NaN
249975  354204643      7244908             25.55     NaN
249976  108900786     54186291                89     NaN
249977  195165432   5.7193E+13             53.47     NaN
249978  350295230     27355042                65     NaN
249979  110173734     84437561             10.89     NaN
249980  110020702      4612248             15.98     NaN
249981  109232371     53146663             10.55     NaN
249982  254770503     53254361              1.55     NaN
249983  339153739     42816663               2.4     NaN
249984  200315034   9.8002E+11              2.99     NaN
249985  109266634  5.20335E+14                90     NaN
249986  111307703     58415582             14.75     NaN
249987  363619213      3005572             12.92     NaN
249988  356761960   2100381383              30.9     NaN
249989  349530258     17511333                 9     NaN
249990  108955447      6653981              4.98     NaN
249991  292066507     39226413                 1     NaN
249992  219803020      9980463            451.17     NaN
249993  327974695     55789351              4.74     NaN
249994  354820625     43761443             70.94     NaN
249995  341921146      6026942                 X  250.00
249996  356011511  5.54197E+14           1678.95     NaN
249997  341929230     38028912                 X    6.54
249998  325725933     41430542                20     NaN
249999  230614994      7529431                28     NaN

[250000 rows x 4 columns]

In [2]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 4 columns):
AccountId            250000 non-null int64
MerchantId           249477 non-null object
TransactionAmount    248026 non-null object
Extra                46656 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.6+ MB

In [3]:
cc_data.isnull().sum()      #checking for missing data

AccountId                 0
MerchantId              523
TransactionAmount      1974
Extra                203344
dtype: int64

In [4]:
cc_data.notnull().sum()      #checking for missing data

AccountId            250000
MerchantId           249477
TransactionAmount    248026
Extra                 46656
dtype: int64

In [5]:
cc_data["TransactionAmount"].value_counts()

X          47763
1           4811
10          2817
20          2654
50          1258
5           1252
30          1212
15          1133
2           1071
40          1033
25          1005
9.99         944
5.99         818
0.64         805
12           794
4.99         762
1.58         757
6            751
0.69         741
0.01         728
18           719
3            715
8            696
0.99         661
60           659
100          642
14.99        627
7.99         626
0.65         626
35           565
           ...
91.88          1
592.5          1
204.84         1
223.78         1
219.12         1
2063.9         1
106.27         1
182.16         1
214.2          1
97.57          1
1212.15        1
176.04         1
1208           1
120.3          1
305.83         1
479.29         1
1402.5         1
145.76         1
521.81         1
342.97         1
201.96         1
173.98         1
270.44         1
721.05         1
642.68         1
122.38         1
140.52         1
258.01         1
233.72         1
324.48         1
Name: TransactionAmount, Length: 20051, dtype: int64

# Annalysis Report

#### 1- Dataset consists of 4 columns AccountId, MerchantId, TransactionAmount & Extra.
 
#### Approach 1
 
####  Every 'X' value in 'TransactionAmount' column has a corresponding value in 'Extra' columns (Assuming that it Denotes Data corruption) we can replace every 'X' transaction with it's corresponding value in 'Extra' column to fill up the 'TransactionAmount' column.
####  But further analysis shows count of X=47763 and values in Extra=4656 which does not match thus idea of replacing fails.
  
####  Approach 2
  
####  Ignore the 'Extra' columns and carry on with the analysis by replacing 'X' with 'NaN' i.e No Transaction (on a safer side) rather than replacing it with some mean value which will be easily affected by outliers.
  
  #### moving forward with Approach 2.
  
#### 2- Datatype of the columns needs to be change since it is a transaction amount it can't be an object.( float or int )

#### 3- One AccountId can have transaction with many MerchantId so we create group of every AccountId for further analysis.

# Step 2: Simple statistics

#### To build up knowledge of the typical transaction, you accumulate some simple statistics about each customer. Write a program that reads event data from a file, tracks the mean transaction amount (η) for each customer and its standard deviation (σ), and prints it to standard output after every transaction.

### The following code replaces "X" and changes datatye of TransactionAmount
### Output shows Mean, Count and STD per AccountID

In [6]:
def track_cust():
    
    cc_data = pd.read_csv('data.csv',names=['AccountId','MerchantId','TransactionAmount','Extra'])
    
    cc_data['TransactionAmount'] = cc_data['TransactionAmount'].replace(['X'],'NaN')
    
    cc_data['TransactionAmount'] = cc_data['TransactionAmount'].astype(float)
    
    cc_data_main = cc_data[['AccountId','TransactionAmount']]
    
    print(cc_data_main.groupby(['AccountId']).agg(['count','mean','std']).sort_values(by=('TransactionAmount','count'),ascending = False))

track_cust()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

####  Suppose you observe a new transaction for d dollars. You can use η and σ to detect whether it’s an anomaly by checking if d differs from η by at least 3 standard deviations. Update your program with this simple detector and output any warnings into a log. Is your detector working reliably when it has seen very few transactions per customer? One approach to mitigate the initial lack of data is to fall back on the global statistics. Implement tracking mean transaction amount and its variance globally (for all customers) and update your detector to use this information when needed.

# Anomaly Detection model
### Output 1) Transaction 'count', Transaction amount 'Mean' & 'STD' per Account ID
### 2) Detecting anomaly by checking if new transaction differs from η by at least 3 standard deviations
### 3) User Input Account No. and Amount
### 4) User's Transaction History
### 5) Detecting anomaly for Account Id with transacton count < 3 on the basis of global statistics. 

## Step 3 included

In [7]:
import pandas as pd
import numpy as np
import logging

def detect_anomaly():
    
    cc_data = pd.read_csv('data.csv',names=['AccountId','MerchantId','TransactionAmount','Extra'])
    
    cc_data['TransactionAmount'] = cc_data['TransactionAmount'].replace(['X'],'NaN')
    
    cc_data['TransactionAmount'] = cc_data['TransactionAmount'].astype(float)
    
    global_mean = cc_data['TransactionAmount'].mean()
    global_var = cc_data['TransactionAmount'].var()
    global_std = np.sqrt(global_var)
    
    cc_data_main = cc_data[['AccountId','TransactionAmount']]
    
    print(cc_data_main.groupby(['AccountId']).agg(['count','mean','std']).sort_values(by=('TransactionAmount','count'),ascending = False),"\n")
    
    lower_range = cc_data_main.groupby(['AccountId']).mean() - 3 * cc_data_main.groupby(['AccountId']).std()
    upper_range = cc_data_main.groupby(['AccountId']).mean() + 3 * cc_data_main.groupby(['AccountId']).std()
    
    inp_acc = int(input("Enter an Account No : "))
    inp_amt  = float(input("Enter amount : "))
    history = cc_data[(cc_data.AccountId == inp_acc)]
    
    acc_tran_count = float(cc_data_main.groupby(['AccountId']).count().loc[inp_acc])
    
    
    if acc_tran_count > 2 :
        
        print("Lower Range of Transaction amount for Account Id", inp_acc, "is : ", float(lower_range.loc[inp_acc]))
        print("Upper Range of Transaction amount for Account Id", inp_acc, "is : ", float(upper_range.loc[inp_acc]),"\n")
      
        if inp_amt < float(lower_range.loc[inp_acc]) or inp_amt > float(upper_range.loc[inp_acc]):
                                
            logging.warning('Anomaly detected \n')
            print("History of Account Id ",inp_acc, "is \n",history)
                    
        else:
            
            print("Transaction amount acceptable \n")
            print("History of Account Id ",inp_acc, "is \n",history)
            print("Minimum Transaction amount in past: ",history["TransactionAmount"].min())
            print("Maximum Transaction amount in past: ",history["TransactionAmount"].max())
            
    else:
        
        print("Global Mean amount for dataset is : ",global_mean)
        
        if inp_amt > float(global_mean):
            
            logging.warning('Anomaly detected \n')
            print("History of Account Id ",inp_acc, "is \n",history)
            
        else:
            
            print("Transaction amount acceptable \n")
            print("History of Account Id ",inp_acc, "is \n",history)
            
        
detect_anomaly()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

Enter an Account No : 271868304
Enter amount : 50
Lower Range of Transaction amount for Account Id 271868304 is :  -28.819878208254572
Upper Range of Transaction amount for Account Id 271868304 is :  103.1343518924651

Transaction amount acceptable

History of Account Id  271868304 is
         AccountId   MerchantId  TransactionAmount  Extra
7507    271868304      4220198              84.36    NaN
18620   271868304      5522024              23.04    NaN
21292   271868304   2100154939              34.99    NaN
22188   271868304      5729942              29.00    NaN
22228   271868304      6972079              48.00    NaN
22750   271868304     40363981              35.00    NaN
22845   271868304     74452401              35.00    NaN
30421   271868304   2.1779E+13              19.95    NaN
33173   271868304     57419863              45.00    NaN
34561   271868304   2100427349              45.00    NaN
36979   271868304      2616787              65.00    NaN
40789   271868304   2100486302              35.99    NaN
40810   271868304   2100486302              35.99    NaN
41342   271868304  5.20335E+14              29.00    NaN
41476   271868304  5.54197E+14              30.00    NaN
44568   271868304   2100361880              47.99    NaN
51576   271868304     29790273               6.70    NaN
52576   271868304     44613552               9.99    NaN
53146   271868304     65964572              66.50    NaN
53425   271868304     87444882              21.25    NaN
53718   271868304     92104162              19.65    NaN
56779   271868304  2.06996E+14               0.59    NaN
62900   271868304     82583223              78.46    NaN
64510   271868304  1.88796E+14               3.74    NaN
66838   271868304      5522024              25.11    NaN
78694   271868304  1.88796E+14               0.99    NaN
82344   271868304     27483953              20.00    NaN
90642   271868304     26724473              58.40    NaN
91405   271868304     17226552              40.00    NaN
91586   271868304     43325063             158.84    NaN
...           ...          ...                ...    ...
141026  271868304     47416582              30.00    NaN
143539  271868304   8021239770              37.14    NaN
143651  271868304   8021239770              38.42    NaN
144310  271868304  5.54197E+14              45.00    NaN
144547  271868304  5.20335E+14              30.00    NaN
145256  271868304     52816353              45.00    NaN
161780  271868304     87444882               8.88    NaN
162179  271868304      5522024              39.15    NaN
176230  271868304     87444882              33.00    NaN
181095  271868304      7227853              41.26    NaN
183356  271868304     60840943              30.00    NaN
183646  271868304     57621443              56.55    NaN
187924  271868304     26724473              51.51    NaN
188237  271868304      7009221              44.99    NaN
198426  271868304     62076423              45.00    NaN
198597  271868304     35137433              29.45    NaN
198693  271868304     74482361              30.00    NaN
199864  271868304     67701743              36.50    NaN
214542  271868304   2100393972              45.00    NaN
214960  271868304     13085163              35.00    NaN
218495  271868304      4135703              37.00    NaN
223314  271868304     44096203              45.00    NaN
225487  271868304     82583223              76.50    NaN
228653  271868304     44557443               4.50    NaN
245009  271868304     52816353              40.00    NaN
245180  271868304      6929319              30.00    NaN
245533  271868304     43949483              32.75    NaN
246738  271868304      2450501              10.00    NaN
248517  271868304   2100159097              35.00    NaN
248695  271868304  5.54197E+14              30.00    NaN

[76 rows x 4 columns]
Minimum Transaction amount in past:  0.59
Maximum Transaction amount in past:  158.84

## Test Case 1
### a) Regular Account Id with Transaction count 100

In [8]:
detect_anomaly()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

Enter an Account No : 111249517
Enter amount : 60
Lower Range of Transaction amount for Account Id 111249517 is :  -85.74176356255214
Upper Range of Transaction amount for Account Id 111249517 is :  166.99596356255205

Transaction amount acceptable

History of Account Id  111249517 is
         AccountId   MerchantId  TransactionAmount  Extra
24      111249517   9.8002E+11               4.95    NaN
10122   111249517      3763877              12.30    NaN
11614   111249517      3041597             160.00    NaN
14975   111249517     83574772              60.90    NaN
15648   111249517   6.8579E+13               1.00    NaN
20360   111249517     54782681              16.40    NaN
24777   111249517  5.20335E+14               8.10    NaN
25637   111249517     69827132              17.18    NaN
25879   111249517      8832461              17.67    NaN
39721   111249517     40378212               1.00    NaN
45404   111249517     12570663              50.40    NaN
48674   111249517  2.06996E+14               5.99    NaN
52772   111249517      6870570              16.20    NaN
62512   111249517   5.7183E+13               4.99    NaN
71376   111249517     63770301               6.01    NaN
74039   111249517   6.8579E+13             129.30    NaN
74361   111249517   6.8579E+13               1.00    NaN
81426   111249517     26572273              24.38    NaN
82574   111249517  2.06996E+14               8.99    NaN
95421   111249517      6870570               6.22    NaN
99914   111249517      3041597             320.00    NaN
102261  111249517     55792823              19.15    NaN
119510  111249517   6.8579E+13               1.00    NaN
130800  111249517   2100486560             118.00    NaN
132252  111249517     43357663               6.24    NaN
133901  111249517   6.8579E+13             122.22    NaN
134202  111249517     83574772              74.17    NaN
143176  111249517     53558402               6.00    NaN
143271  111249517     52252312              32.99    NaN
145262  111249517      6795272              30.25    NaN
...           ...          ...                ...    ...
222380  111249517      8832461              14.15    NaN
222394  111249517     26572273              43.91    NaN
222558  111249517     26572273              43.91    NaN
222582  111249517     69827132               6.29    NaN
222749  111249517     26572273              43.91    NaN
222878  111249517     26572273              43.91    NaN
223022  111249517     26572273              43.91    NaN
223205  111249517     26572273              43.91    NaN
223346  111249517     26572273              43.91    NaN
223797  111249517     26572273              43.91    NaN
224066  111249517     26572273              43.91    NaN
224181  111249517     26572273              43.91    NaN
224572  111249517     26572273              43.91    NaN
224681  111249517     26572273              43.91    NaN
224985  111249517   5.7193E+13               9.15    NaN
225651  111249517     26572273              43.91    NaN
225848  111249517     26572273              43.91    NaN
226163  111249517     83574772              67.03    NaN
226774  111249517     62937180               9.99    NaN
227096  111249517   6.8579E+13               1.00    NaN
227112  111249517     26572273              43.91    NaN
227268  111249517     26572273              43.91    NaN
227439  111249517     26572273              43.91    NaN
227724  111249517     26572273              43.91    NaN
227824  111249517     26572273              43.91    NaN
227900  111249517     26572273              43.91    NaN
228111  111249517     26572273              43.91    NaN
228288  111249517     26572273              43.91    NaN
235337  111249517      5965454             135.00    NaN
239526  111249517      6870570               9.03    NaN

[100 rows x 4 columns]
Minimum Transaction amount in past:  1.0
Maximum Transaction amount in past:  320.0

### b) Regular Account Id with Transaction count 100 (Anomaly Detected)

In [9]:
detect_anomaly()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

Enter an Account No : 111249517
Enter amount : 170

WARNING:root:Anomaly detected

Lower Range of Transaction amount for Account Id 111249517 is :  -85.74176356255214
Upper Range of Transaction amount for Account Id 111249517 is :  166.99596356255205

History of Account Id  111249517 is
         AccountId   MerchantId  TransactionAmount  Extra
24      111249517   9.8002E+11               4.95    NaN
10122   111249517      3763877              12.30    NaN
11614   111249517      3041597             160.00    NaN
14975   111249517     83574772              60.90    NaN
15648   111249517   6.8579E+13               1.00    NaN
20360   111249517     54782681              16.40    NaN
24777   111249517  5.20335E+14               8.10    NaN
25637   111249517     69827132              17.18    NaN
25879   111249517      8832461              17.67    NaN
39721   111249517     40378212               1.00    NaN
45404   111249517     12570663              50.40    NaN
48674   111249517  2.06996E+14               5.99    NaN
52772   111249517      6870570              16.20    NaN
62512   111249517   5.7183E+13               4.99    NaN
71376   111249517     63770301               6.01    NaN
74039   111249517   6.8579E+13             129.30    NaN
74361   111249517   6.8579E+13               1.00    NaN
81426   111249517     26572273              24.38    NaN
82574   111249517  2.06996E+14               8.99    NaN
95421   111249517      6870570               6.22    NaN
99914   111249517      3041597             320.00    NaN
102261  111249517     55792823              19.15    NaN
119510  111249517   6.8579E+13               1.00    NaN
130800  111249517   2100486560             118.00    NaN
132252  111249517     43357663               6.24    NaN
133901  111249517   6.8579E+13             122.22    NaN
134202  111249517     83574772              74.17    NaN
143176  111249517     53558402               6.00    NaN
143271  111249517     52252312              32.99    NaN
145262  111249517      6795272              30.25    NaN
...           ...          ...                ...    ...
222380  111249517      8832461              14.15    NaN
222394  111249517     26572273              43.91    NaN
222558  111249517     26572273              43.91    NaN
222582  111249517     69827132               6.29    NaN
222749  111249517     26572273              43.91    NaN
222878  111249517     26572273              43.91    NaN
223022  111249517     26572273              43.91    NaN
223205  111249517     26572273              43.91    NaN
223346  111249517     26572273              43.91    NaN
223797  111249517     26572273              43.91    NaN
224066  111249517     26572273              43.91    NaN
224181  111249517     26572273              43.91    NaN
224572  111249517     26572273              43.91    NaN
224681  111249517     26572273              43.91    NaN
224985  111249517   5.7193E+13               9.15    NaN
225651  111249517     26572273              43.91    NaN
225848  111249517     26572273              43.91    NaN
226163  111249517     83574772              67.03    NaN
226774  111249517     62937180               9.99    NaN
227096  111249517   6.8579E+13               1.00    NaN
227112  111249517     26572273              43.91    NaN
227268  111249517     26572273              43.91    NaN
227439  111249517     26572273              43.91    NaN
227724  111249517     26572273              43.91    NaN
227824  111249517     26572273              43.91    NaN
227900  111249517     26572273              43.91    NaN
228111  111249517     26572273              43.91    NaN
228288  111249517     26572273              43.91    NaN
235337  111249517      5965454             135.00    NaN
239526  111249517      6870570               9.03    NaN

[100 rows x 4 columns]

### Test Case 2
#### a) Account Id with Transaction count < 3 ( On the basis of Global Statistics )

In [10]:
detect_anomaly()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

Enter an Account No : 318393181
Enter amount : 50
Global Mean amount for dataset is :  74.3367538686795
Transaction amount acceptable

History of Account Id  318393181 is
         AccountId MerchantId  TransactionAmount  Extra
241799  318393181   48218562                NaN  16.19
246533  318393181    2606010                NaN  41.66

#### b) Account Id with Transaction count < 3 (Anomaly Detected On the basis of Global Statistics )

In [11]:
detect_anomaly()

          TransactionAmount
                      count         mean          std
AccountId
111232879               150   299.587133   350.337043
341365559               122   172.859180   227.521641
111249517               100    40.627100    42.122955
355162409                94     1.237553     1.086298
285980289                92    26.897283    72.332817
292395225                80     6.376875     7.635337
330376442                80    37.591125   140.486642
109713322                78    52.666795   101.362592
271868304                76    37.157237    21.992372
109307289                74    23.431081    23.848938
110392237                73    27.583562    29.686164
340556454                73    58.774795   185.659986
108913899                73    16.731233    21.523352
283040627                73    35.482603   101.358142
109934363                72    35.066111    43.009497
334993816                72  1041.231667  1937.582291
346697521                72    29.571806    61.858284
323712782                72   100.405139   257.922593
285009269                71    31.198169    48.261548
343842976                71    28.280986    78.697037
111098929                71    35.540845    56.554332
337153043                71    89.215775    97.525164
109260336                70    17.771286    24.300109
109258315                70    23.003000   102.222339
337438004                69    39.774203    70.764030
340681145                68    17.301912    28.584822
348037679                68    37.437500    63.862487
357672209                67    17.743433    25.164819
341045912                66    41.075909    58.085610
343377488                66    28.451061    36.265511
...                     ...          ...          ...
318404132                 0          NaN          NaN
318405589                 0          NaN          NaN
318406764                 0          NaN          NaN
318407610                 0          NaN          NaN
318407657                 0          NaN          NaN
318407798                 0          NaN          NaN
318408597                 0          NaN          NaN
318409913                 0          NaN          NaN
318395249                 0          NaN          NaN
318394967                 0          NaN          NaN
318394873                 0          NaN          NaN
318394779                 0          NaN          NaN
318383029                 0          NaN          NaN
318383217                 0          NaN          NaN
318385191                 0          NaN          NaN
318385520                 0          NaN          NaN
318385755                 0          NaN          NaN
318386930                 0          NaN          NaN
318387353                 0          NaN          NaN
318388246                 0          NaN          NaN
318388904                 0          NaN          NaN
318389421                 0          NaN          NaN
318390502                 0          NaN          NaN
318391066                 0          NaN          NaN
318391442                 0          NaN          NaN
318391536                 0          NaN          NaN
318393181                 0          NaN          NaN
318393745                 0          NaN          NaN
318394591                 0          NaN          NaN
363724728                 0          NaN          NaN

[28676 rows x 3 columns]

Enter an Account No : 318393181
Enter amount : 80

WARNING:root:Anomaly detected

Global Mean amount for dataset is :  74.3367538686795
History of Account Id  318393181 is
         AccountId MerchantId  TransactionAmount  Extra
241799  318393181   48218562                NaN  16.19
246533  318393181    2606010                NaN  41.66